

.trip-container {
    position: relative;
    top: 100px;
    padding: 50px 20px;
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  .heading2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
  }
  
  .placess-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .placess-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
  
  .placess-card img {
    padding: 10px ;
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  
  .placess-card h2 {
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    color: #444;
  }

  .delete-btn{
   
    height: 40px;
    width: 90px;
    border-radius: 10px;
    background-color: rgb(127, 127, 255);
    color: white;
    cursor: pointer;
  }
  .delete-btn-div{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .nothing-word{
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    text-align: center;
  }



  .spin-icon {
    animation: spin 1s linear infinite;
    font-size: 18px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  